.TimedButton {
  height: 2rem;
  width: 5.5rem;
}

.TimerStroke {
  stroke-dasharray: 490;
  stroke-dashoffset: 0;
  animation-name: dashSize;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes dashSize {
  0%   { stroke-dashoffset: 0;   }
  100% { stroke-dashoffset: 490; }
}
