/* add css styles here (optional) */

.OverlayParent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.GridOverlap {
  -ms-grid-column: 1;
  -ms-grid-row: 1; 
  grid-column: 1/1;
  grid-row: 1/1;
}

.GridCenterInCell {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  align-self: center;
  justify-self: center;
}

.Overlay {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  grid-column: 1/1;
  grid-row: 1/1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.AlertContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RetryButton {
  font-weight: 900;
  font-size: 0.8rem;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  grid-column: 1/1;
  grid-row: 1/1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 5.5rem;
}

.ColorClass {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

.ErrorColorClass {
  color: red;
}

.GridCentered {
  -ms-grid-column: 2;
  -ms-grid-row: 2; 
  grid-column: 2/2;
  grid-row: 2/2;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  align-self: center;
  justify-self: center;
}